html {
  margin-left: calc(100vw - 100%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #FC466B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

/*
==============================
Grid
==============================
*/

.wrapper {
  margin: 0 auto;
  display: grid;
  grid-gap: 15px;
  margin-bottom: 20px;
}

.wrapper > div {
  border: 1px solid black;
  height: 160px;
  background-color: #f9f9f9;
  border-radius: 6px;
  box-shadow: 5px 5px 5px (0,0,0,0.8);
  max-width: 500px;
  min-width: 500px;
}

.wrapper:first-child {
  margin-top: 20px;
}

/*
==============================
Header
==============================
*/

.header-img {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #640dab;
}

.header-img img {
  width: 55%;
}

.header-nav {
  height: 50px;
}

ul {
  display: flex;
  height: 30px;
  align-items: center;
  justify-content: space-between;
}

li {
  font-family: 'Lato', sans-serif;
}

.nav-button {
  text-align: center;
  text-decoration: none;
  width: 33%;
}

.nav-button:hover {
  font-weight: 700;
}

.title {
  text-decoration: none;
}

.title:hover {
  font-weight: 700;
}

/*
==============================
Grid Items
==============================
*/

.channel-online {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 15%;
  border-bottom: 1px solid #ccc;
}

.channel-main {
  height: 70%;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.channel-bot {
  height: 15%;
}

.channel-content {
  margin-top: 18px;
  margin-left: 8px;
  width: 550px;
}

a {
  display: inline-block;
}

/*
==============================
Item Main
==============================
*/

.logo {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 80px;
  height: auto;
  margin-left: 20px;
}

button {
  background-color: white;
  color: blue;
  border: 1px solid blue;
  padding: 8px;
  border-radius: 8px;
  margin: 5px 5px 8px 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.6)
}

button:focus {
  outline: none;
}

button:hover {
  background-color: blue;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

/*
==============================
Item Footers
==============================
*/

.channel-bot {
  display: flex;
  align-items: center;
}

.channel-bot img {
  height: 26px;
  width: 26px;
  margin-left: 6px;
}

#heart {
  margin-top: -2px;
  margin-left: 25px;
  height: 20px;
  width: 20px;
}

/*
==============================
Typography
==============================
*/

h1 {
  font-size: 18px;
  color: #640dab;
}

h4 {
  font-size: 15px;
  padding-left: 6px;
  color: blue;
}

h5 {
  margin-right: 5px;
  font-weight: 700;
}

p {
  margin-top: 8px;
  color: grey;
  padding-right: 8px;
}

.flash {
  animation-name: flash;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes flash {
  from {color: red;}
  to {color: green;}
}

/*
==============================
Offline
==============================
*/

.offline {
  order: 2;
}

.offline .title {
  font-weight: 400;
}
